<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CpE_Tools</title>
</head>
<body style="background-color: black;">
    <h1 style="text-align: center; color: aqua;">WELCOME TO RANDOM NUMBER GAME</h1>
    <form method="POST" style="text-align: center;">
        <input type="text" name="your_num" placeholder="Guessed">
    </form>

    <h3 style="color: azure; text-align: center;">your guessed: {{ result }}</h3>
    <h3 style="color: red; text-align: center;">correct: {{ correct }}</h3>
    <h3 style="color: blue; text-align: center;">{{ message }}</h3>

</body>
</html>