<!DOCTYPE html>
<html>
<head>
    <title>IRIS</title>
</head>
<body style="background-color: black;">
    <div id="structure" style="text-align: center;">
    <h1 style="color: aqua; text-align: center;">Basic Prediction of IRIS Species</h1>
    
    <form method="POST">
        <input type='number' step="0.01" id="Sepal_length" name="Sepal_length" placeholder="Enter Sepal Length" required>

        <input type="number" step="0.01" id="Sepal_width" name="Sepal_width" placeholder="Enter Sepal Width" required>

        <input type="number" step="0.01" id="Petal_length" name="Petal_length" placeholder="Enter Petal Length" required>

        <input type="number" step="0.01" id="Petal_width" name="Petal_width" placeholder="Enter Petal Width" required>

        <button type="submit">Submit</button>
    </form>
    
    <h2 style="text-align: center; color: red;">Prediction:</h2>
    <p style="color: aquamarine;">{{ output }}</p>
    <h3 style="text-align: center; color: red;">Data: </h3>
    <p style="color: burlywood;">{{ data }}</p>
    <p style="color: burlywood;">{{ data2 }}</p>
    <p style="color: burlywood;">{{ data3 }}</p>
    <p style="color: burlywood;">{{ data4 }}</p>
    <h4 style="color: red;">Accuracy: </h4>
    <p style="color: azure;">{{ Accuracy }}</p>
    </div>
    
</body>
</html>