<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flames</title>
</head>
<body style="background-color: pink;">
    <div style="text-align: center;">
        <h1 style="color: red;">Welcome to FLAMES</h1>
    <form method="POST">
        <input type="text", id="Your_name" name="Your_name", placeholder="input your name">
        <input type="text", id="Crush", name="Crush", placeholder="input your crush name">
        <button type="submit">submit</button>
    </form>
    <h4>result: {{name}}</h4>
    </div>
    <div style="background-color: lightblue">
        <h2>Information</h2>
        <p>F - FLAMES</p>
        <p>L - LOVERS</p>
        <p>A - AFFECTIONATE</p>
        <p>M - MARRIAGE</p>
        <p>E - ENEMY</p>
        <p>S - SEX</p>
    </div>
</body>
</html>