<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flames</title>
</head>
<body>
    <div style="background-color: pink; text-align: center;">
        <h1 style="color: red;">Welcome to FLAMES</h1>
    <form method="POST">
        <input type="text", id="Your_name" name="Your_name", placeholder="input your name">
        <input type="text", id="Crush", name="Crush", placeholder="input your crush name">
        <button type="submit">submit</button>
    </form>
    <h4>result: {{name}}</h4>
    </div>
</body>
</html>